In [1]:
conda install numpy

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [23]:
print("Задание 1. Импортируйте библиотеку Numpy и дайте ей псевдоним np. Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. Будем считать, что каждый столбец - это признак, а строка - наблюдение. Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.")

Задание 1. Импортируйте библиотеку Numpy и дайте ей псевдоним np. Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. Будем считать, что каждый столбец - это признак, а строка - наблюдение. Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [1]:
import numpy as np

In [2]:
pre_a = np.array([[1, 2, 3, 3, 1],[6, 8, 11, 10, 7]])
a =  np.transpose(pre_a)
print(a)

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]

In [5]:
a_mean = a.mean(axis=0)
print(a_mean)

[2.  8.4]

In [6]:
print("Задание 2. Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.")

Задание 2. Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [7]:
a_centered = a - a_mean
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

In [8]:
print("Задание 3. Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.")

Задание 3. Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [11]:
a_centered_sp = a_centered[:,0] @ a_centered[:,1]
print(a_centered_sp)

In [13]:
N = a_centered.size
print(N)

10

In [14]:
n = N - 1
print(a_centered_sp / n)

0.8888888888888888

In [15]:
print("Задание 4**. В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov. В качестве аргумента m функция np.cov должна принимать транспонированный массив “a”. В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом 1.")

Задание 4**. В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov. В качестве аргумента m функция np.cov должна принимать транспонированный массив “a”. В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом 1.

In [21]:
print(np.cov(pre_a))

[[1.  2. ]
 [2.  4.3]]

In [38]:
print("Работа с данными в Pandas")
print("Задание 1. Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский']. Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные: [1, 1, 1, 2, 2, 3, 3], ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], [450, 300, 350, 500, 450, 370, 290].")

Работа с данными в Pandas
Задание 1. Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский']. Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные: [1, 1, 1, 2, 2, 3, 3], ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], [450, 300, 350, 500, 450, 370, 290].

In [50]:
import pandas as pd
a = {
    "author_id":[1, 2, 3],
    "author_name":['Тургенев', 'Чехов', 'Островский']
}

authors = pd.DataFrame(a)

b = {
    "author_id":[1, 1, 1, 2, 2, 3, 3],
    "book_title":['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    "price":[450, 300, 350, 500, 450, 370, 290]
}
books = pd.DataFrame(b)

authors
books

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [45]:
print("Задание 2. Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.")

Задание 2. Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [52]:
authors_price = pd.merge(authors, books, on ='author_id')
authors_price.set_index("author_id", inplace=True)
authors_price

          author_name            book_title  price
author_id
1            Тургенев           Отцы и дети    450
1            Тургенев                 Рудин    300
1            Тургенев     Дворянское гнездо    350
2               Чехов      Толстый и тонкий    500
2               Чехов       Дама с собачкой    450
3          Островский                 Гроза    370
3          Островский  Таланты и поклонники    290

In [51]:
print("Задание 3. Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.")

Задание 3. Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [59]:
authors_price.sort_values(by="price", ascending=False, inplace=True)
top5 = authors_price.head(5)
top5

          author_name         book_title  price
author_id
2               Чехов   Толстый и тонкий    500
1            Тургенев        Отцы и дети    450
2               Чехов    Дама с собачкой    450
3          Островский              Гроза    370
1            Тургенев  Дворянское гнездо    350

In [60]:
print("Задание 4. Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца: author_name, min_price, max_price и mean_price, в которых должны содержаться соответственно имя автора,минимальная, максимальная и средняя цена на книги этого автора .")

Задание 4. Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца: author_name, min_price, max_price и mean_price, в которых должны содержаться соответственно имя автора,минимальная, максимальная и средняя цена на книги этого автора .

In [124]:
author_stat = authors_price.groupby("author_name").agg(['min', 'max', 'mean'])

author_stat

            price
              min  max        mean
author_name
Островский    290  370  330.000000
Тургенев      300  450  366.666667
Чехов         450  500  475.000000